.parent{
    /* height:150px; */
    width:200px;
    
}

.child{
    position: absolute;
    top:50%;
    left:5%;
    height:300px;
    width:100px;
    transition: all 1s;
}

.parent:hover .child{
    top:5%;
}